@font-face {
  font-family: "Porsche";
  src: url("../../fonts/911porschav3cond.ttf");
}

.logo {
  position: relative;
  object-fit: cover;
  top: 10vh;
  @media (min-width: 768px) {
    top: 5vh;
  }
  @media (min-width: 1024px) {
    object-fit: contain;
    position: relative;
    height: 75vh;
    left: 35vw;
    top: 10vh;
  }
}
